@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap');

body {
  font-family: 'Source Serif Pro', serif;
  line-height: 1.5;
  text-align: center;
  /* linear-gradient to set the background image with opacity without effecting text */
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://images.unsplash.com/photo-1609372332255-611485350f25?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzMzUyNzA3MA&ixlib=rb-1.2.1&q=85");
  background-size: cover;
}
#title {
  color: yellow;
  font-size: 60px;
  /* setting the title to look like Pokemons logo title using text shadow */
  text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
  margin-bottom: 10px;
}
#description {
  font-size: 20px;
  
}
#div1 {
  border-width: 10px;
  border-style: dashed;
  border-color: blue;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
#survey-form {
  
}
#name {
  
}
#email {
  
}
#number {
  
}
#name-label {
  
}
#email-label {
  
}
#number-label {
  
}
#Starter {
}
#dropdown {
  
}
#fave-type {
  
}
#fire {
  
}
#water {
  
}
#grass {
  
}
#normal {
  
}
#electric {
  
}
#div2 {
  border-width: 10px;
  border-style: dashed;
  border-color: yellow;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
#checkbox {
  
}
#jstarterpack {
  font-size: 35px;
  color: yellow;
   /* setting the title to look like Pokemons logo title using text shadow */
  text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
}
#para {
  font-size: 18px;
}
#textarea {
  
}
#submit {
  
}